@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282c33;
  /* background-color: #101113; */
}

nav ul li.active a div {
  transform: translateY(-35px);
  /* color: #5a5d61; */
  background-color: #272322;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #494e57;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li.active a span {
  opacity: 1;
  transform: translateY(15px);
}

@media screen and (min-width: 980px) {
  nav ul li.active a div {
    transform: translateY(0);
    transform: translateX(-35px);
  }
}
